div.message-header {
  font-size: 14px;
}

button.btn {
  color: #000;
  font-weight: bold;
}


button.btn-success {
  color: #000000;
  font-weight: bold;
  font-size: 18px;

}

div.template {
  display: none;
}

.btn.btn-success {
  background-color: rgb(69, 177, 2);
  height: 38px;
}

input.new-author.form-control {
  width: 20%;
  /*font-style: italic;*/
  font-size: 18px;
}

input.new-post.form-control {
  width: 60%;
}

input.new-author, input.new-post {
  color: #333;
}

div.posts-body.panel-success {
  border-color : rgba(60, 167, 23, 0);
}

div.panel-success {
  border: solid 1px rgb(128, 154, 0, 0);
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: rgba(0, 230, 31, 0.05);
  border-color: rgba(128, 154, 0, 0);
}

.row.post-row {
  background-color: #1d1d1d;
}

.panel-default > .panel-heading {
  background-color: #2b2b2b;
}

input.template-edit-message.form-control {
  width: 80%;
  /*background-color: rgba(184, 184, 184, 0.5);*/
  font-style: italic;
  font-size: 18px;
}

p.template-post-message {
  margin-top : 20px;
}

button.edit-btn, button.save-btn {
  margin-right : 10px;
}

blockquote {
  margin-left: 22%;
}

i.pull-right.text-info {
  margin-top: 23px;
  font-size: 12px;
}

hr {
  border-color: #111;
}

img {
  width: 15%;
  height: 15%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > .navbar-default .navbar-nav > .active > a:focus {
    color: #2a9fd6;
    background-color: transparent;
}
